.toast-normal {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 9999;

  width: calc(100% - 30px);
  max-width: 320px;
  min-height: 0;

  box-sizing: border-box;

  padding: 22px 18px 20px;
  transform: translate(-50%, -100%);

  background: #FEFAE0;
  border: 2px solid #BC6C25;
  border-radius: 0 0 18px 18px;

  color: #283618;
  font-family: var(--fuente-outfit);
  font-size: 17px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;

  box-shadow: 0 4px 12px rgb(42 49 19 / 25%);

  transition: transform 0.35s ease-out;
}

.toast-normal--visible {
  transform: translate(-50%, 0);
}


/* CÍRCULO */

.toast-normal::after {
  content: '';

  position: absolute;
  top: 12px;
  right: 14px;

  width: 12px;
  height: 12px;

  background: #BC6C25;
  border-radius: 50%;
}